<!-- Product Specifications Component -->
<div class="product-specs-container">
    <div class="specs-header">
        <h3>Thông Số Kỹ Thuật</h3>
    </div>
    <div class="specs-table-wrapper">
        <table class="specs-table">
            <tbody>
                <tr>
                    <td class="specs-label">Loại</td>
                    <td class="specs-value" id="spec-type">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Thương Hiệu</td>
                    <td class="specs-value" id="spec-brand">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Dòng Sản Phẩm</td>
                    <td class="specs-value" id="spec-series">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Socket/Chipset</td>
                    <td class="specs-value" id="spec-socket">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Số Nhân</td>
                    <td class="specs-value" id="spec-cores">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Số Luồng</td>
                    <td class="specs-value" id="spec-threads">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Tần Số Cơ Bản</td>
                    <td class="specs-value" id="spec-base-freq">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Tần Số Max Turbo</td>
                    <td class="specs-value" id="spec-turbo-freq">-</td>
                </tr>
                <tr>
                    <td class="specs-label">TDP (Công Suất Tiêu Thụ)</td>
                    <td class="specs-value" id="spec-tdp">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Cache</td>
                    <td class="specs-value" id="spec-cache">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Công Nghệ</td>
                    <td class="specs-value" id="spec-tech">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Kích Thước (DxRxC)</td>
                    <td class="specs-value" id="spec-size">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Khối Lượng</td>
                    <td class="specs-value" id="spec-weight">-</td>
                </tr>
                <tr>
                    <td class="specs-label">Bảo Hành</td>
                    <td class="specs-value" id="spec-warranty">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
